// .abtme__header{
// &--logo{

// }
// }

.abtme__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--img{
        width: 80%;
        height: 80%;
    }
}