.loader{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 80px;

    &__text{
        color: $primary;
        font-size: 140px;
     
    &--p{
        color: $black;
        font-size: 50px;
        margin-top: 40px;
    }
}
}