.loader{
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 16%;
    @include smartphone{
        padding-top: 60%;
    }

    &__text{
        color: $primary;
        font-size: 140px;
        @include smartphone{
            font-size: 40px;
        }
     
    &--p{
        color: $black;
        font-size: 50px;
        margin-top: 8%;
        @include smartphone{
            font-size: 16px;
        }
    }
}

}

