*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: $white;
    overflow-y: auto;
    overflow-x: hidden;
font-family: "Oswald";
@include smartphone{
    padding-left: 16px;
    padding-right: 16px;

}
 @include pc{
     color: $black;
     padding-left: 80px;
    padding-right: 80px;
}
}

